/* navbar.css */

.navbar {
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: center;
}

.navbar > nav {
  height: 50px;
  bottom: -30px;
  width: 500px;
  margin: 30px auto;
  background-color: #E19898;
  border-radius: 20px;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
}

h1 {
  color: black;
  position: absolute;
  top: -8px;
  left: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.links {
  text-align: right;
}

.btn {
  color: black;
  background: transparent;
  position: absolute;
  border: none;
  bottom: 10px;
  right: 15px;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 20px;
  cursor: pointer;
}
